<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/simple-sidebar.css" rel="stylesheet" type="text/css">
    <link href="/patientPage.css" rel="stylesheet" type="text/css">
    <title>Patient</title>
</head>

<body>
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <button class="btn btn-primary" id="menu-toggle" name="ehealthButton">Profile</button>
        <button id="miniMenu" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">

            </div>
            <div class="navbar-nav">
                <a id="logout" class="nav-link" onclick="location.href = '/'">Sign Out</a>
            </div>
        </div>
    </nav>
    <div>
        <div id="top">
            <h1 id="patientName"> <%= userData[0].name %> </h1>
            <a id="autosync" type="button" href="/authorize/<%= userData[0].userId %>" class="btn btn-primary"> Connect
                to Fitbit </a>
            <button id="manualEntry" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#paramEntry">Enter Data
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-sm" id="paramEntry" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">

                <div class="modal-content">
                    <form id="formOfAdd">
                        <div class="modal-header">
                            <h5 class="modal-title w-100 text-center" id="measuremnetTitle">Enter Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="btn-group">
                                <a id="measurement" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Blood
                                    Pressure<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="measurementType">
                                    <li class="dropdown-item px-2"><a href="#">Blood Pressure</a></li>
                                    <li class="dropdown-item px-2"><a href="#">Heart Rate</a></li>
                                    <li class="dropdown-item px-2"><a href="#">Calories Burnt</a></li>
                                    <li class="dropdown-item px-2"><a href="#">Calories Intake</a></li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label>Value: </label>
                                <input id="paramVal" name="reading" class="form-control" type="number" maxlength="3"
                                       required="required">
                            </div>

                            <div class="form-group">
                                <label>Date: </label>
                                <input type="Date" id="measurementDate" name="date" class="form-control"
                                       required="required">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <button id="addMeasurement" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush" id="profile">
                <img id="patientImage" src="/stockPhoto.png" alt="Alternative Text">
                <a id="pName" class="list-group-item list-group-item-action bg-light">  <%= userData[0].name %></a>
                <a id="patientEmail"
                   class="list-group-item list-group-item-action bg-light">  <%= userData[0].email %></a>
                <a id="patientPhone"
                   class="list-group-item list-group-item-action bg-light">  <%= userData[0].phone %></a>
                <a id="address" class="list-group-item list-group-item-action bg-light">  <%= userData[0].address %></a>
                <button id="updateProfileButton" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#updateModal">Update Profile
                </button>
            </div>
        </div>


        <div class="container-fluid">


            <div class="row my-2">

                <div class="col-md-2">
                    <div class="card text-center  border-warning h-65">
                        <div class="card-block">
                            <h4 class="card-title">Heart Rate</h4>
                            <h2><i class="fa fa-heartbeat fa-2x" style="color:#ffaf00"></i></h2>
                        </div>
                        <h3 id="latestHeart"></h3>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card text-center  border-info h-65">
                        <div class="card-block">
                            <h4 class="card-title">Blood Pressure</h4>
                            <h2><i class="fa fa-heart fa-2x" style="color:blue"></i></h2>
                        </div>
                        <h3 id="latestBlood"></h3>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card text-center  border-primary h-65">
                        <div class="card-block">
                            <h4 class="card-title">Calories Burnt</h4>
                            <h2><i class="fa fa-child fa-2x" style="color:blue"></i></h2>
                        </div>
                        <h3 id="calb"></h3>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="card text-center  border-success h-65">
                        <div class="card-block">
                            <h4 class="card-title">Calories Intake</h4>
                            <h2><i class="fa fa-cutlery fa-2x" style="color:#9cff25"></i></h2>
                        </div>
                        <h3 id="cal"></h3>
                    </div>
                </div>

            </div>
            <div class="md-form active-cyan active-cyan-2 mb-3">
                <input id="searchBar" class="form-control" type="search" placeholder="Search for records by date"
                       aria-label="Search">
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="hr-tab" data-toggle="tab" href="#hr" role="tab"
                       aria-controls="heartRate"
                       aria-selected="true">Heart Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bp-tab" data-toggle="tab" href="#bp" role="tab" aria-controls="blood"
                       aria-selected="false">Blood Pressure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="caloriesBurned-tab" data-toggle="tab" href="#caloriesBurned" role="tab"
                       aria-controls="caloriesBurned" aria-selected="false">Calories Burnt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="calories-tab" data-toggle="tab" href="#calories" role="tab"
                       aria-controls="calories" aria-selected="false">Calories Intake</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hr" role="tabpanel" aria-labelledby="hr-tab">
                    <table class="table" id="heartRateTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="dataFrom" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="bp" role="tabpanel" aria-labelledby="bp-tab">
                    <table class="table" id="bloodTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="dataFrom" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="caloriesBurned" role="tabpanel" aria-labelledby="caloriesBurned-tab">
                    <table class="table" id="caloriesBurnTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="dataFrom" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="calories" role="tabpanel" aria-labelledby="calories-tab">
                    <table class="table" id="caloriesTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="dataFrom" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="updateModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">

            <form action="/update/<%= userData[0].userId %>?_method=PUT" method="post">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="exampleModalLongTitle">Update Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p id="hieght">Height(cm):</p>
                        <input type="number" id="height" name="height" class="form-control" required="required" min="1"
                               max="300" value="<%= userData[0].height %>">
                    </div>
                    <div class="form-group">
                        <p>Weight(Kg):</p>
                        <input type="number" id="weight" name="weight" class="form-control" required="required" min="1"
                               max="600" value="<%= userData[0].weight %>">
                    </div>
                    <div class="form-group">
                        <p>Email:</p>
                        <input id="email" type="email" name="emailAddress" class="form-control"
                               placeholder="example@example.com" required="required" value="<%= userData[0].email %>">
                    </div>
                    <div class="form-group">
                        <p>Phone number:</p>
                        <input type="tel" id="phone" class="form-control" name="phone" required="required"
                               placeholder="1234567890" maxlength="11" value="<%= userData[0].phone %>">
                    </div>
                    <div class="form-group">
                        <p>Address:</p>
                        <input type="text" id="addressInput" name="address" class="form-control" required="required"
                               maxlength="40" value="<%= userData[0].address %>">
                    </div>
                    <div class="form-group">
                        <p>Full Name:</p>
                        <input type="text" id="fName" name="fName" class="form-control" required="required"
                               maxlength="30" value="<%= userData[0].name %>">
                    </div>

                    <div class="form-group">
                        <div class="btn-group">
                            <span class="label label-default">GP: </span>
                            <input type="text"  disabled="disabled" id="gpName" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="btn-group">
                            <span class="label label-default">Select a GP: </span>
                            <select id="selectGP" name="selectedGP">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.js"></script>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script>
    $(".dropdown-menu li a").click(function (e) {
        e.preventDefault()
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });

</script>

<script>
    $('#heartRateTable').bootstrapTable({});

    <!-- send request to get all patient's heart rate data-->
    $('#heartRateTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";
            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Heart Rate"}),

            };

            $.ajax(settings).done(function (response) {

                var data = JSON.parse(response);

                <!-- once get heart rate data from back end successful, show data as a table-->
                $('#heartRateTable').bootstrapTable("load", data);

                $('.fixed-table-loading').hide();
            });
        })
</script>

<script>
    $('#bloodTable').bootstrapTable({});

    <!-- send request to get all patient's Blood Pressure data-->
    $('#bloodTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Blood Pressure"}),

            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);

                <!-- once get Blood Pressure data from back end successful, show data as a table-->
                $('#bloodTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });
        }
    )
</script>

<script>
    $('#caloriesBurnTable').bootstrapTable({});

    <!-- send request to get all patient's calories data-->
    $('#caloriesBurnTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Calories Burnt"}),

            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);
                <!-- once get calories burnt data from back end successful, show data as a table-->
                $('#caloriesBurnTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });
        }
    )
</script>

<script>
    $('#caloriesTable').bootstrapTable({});

    <!-- send request to get all patient's calories intake data-->
    $('#caloriesTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Calories Intake"}),

            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);
                <!-- once get calories intake data from back end successful, show data as a table-->
                $('#caloriesTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });
        }
    )
</script>


<!-- send request to add new measurement data for patient-->
<script>
    $('#formOfAdd').submit(
        function (e) {
            e.preventDefault()
            var settings = {

                "url": "/addMeasurement",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"
                },

                "data": JSON.stringify({
                    "userId": "<%= userData[0].accountID %>",
                    "measurementType": $('#measurement').text(),
                    "reading": $('#paramVal').val(),
                    "date": $('#measurementDate').val()
                }),
            };

            $.ajax(settings).done(function () {
                <!-- reload page once measurement add successfule-->
                location.href = "/patient/" + "<%= userData[0].accountID %>";
            })
        }
    )
</script>

<script>
    $(document).ready(function () {
        $("#searchBar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTabContent tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!-- send request to get all gp name allow user to assign-->
<script>
    $('#selectGP').ready(
        function () {
            var settings = {

                "url": "/api/SelectGPList",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({}),
            };

            $.ajax(settings).done(function (response) {
                var gpList = JSON.parse(response);

                <!-- once get all gp's name data from back end successful, add it to select box-->
                $.each(gpList, function (index, name) {
                    $('<option value= ' + name.gpID + '>' + name.name + '</option>').appendTo('#selectGP');
                })
            })
        }
    )
</script>

<!-- send request to get latest patient's Heart Rate data-->
<script>
    $('#latestHeart').ready(
        function () {

            var settings = {

                "url": "/api/SelectLatestMeasurementById",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "accountID": "<%= userData[0].accountID %>",
                    "measurementType": "Heart Rate"
                }),
            };

            $.ajax(settings).done(function (response) {
                var latestH = JSON.parse(response);

                <!-- once get data from back end successful, show as text in the page-->
                if (latestH.length < 1) {
                    $('#latestHeart').text(0);
                } else {
                    $('#latestHeart').text(latestH[0].reading)
                }
                ;
            })
        }
    )
</script>

<!-- send request to get latest patient's Blood Pressure data-->
<script>
    $('#latestBlood').ready(
        function () {

            var settings = {

                "url": "/api/SelectLatestMeasurementById",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "accountID": "<%= userData[0].accountID %>",
                    "measurementType": "Blood Pressure"
                }),
            };

            $.ajax(settings).done(function (response) {
                var latestB = JSON.parse(response);

                <!-- once get data from back end successful, show as text in the page-->
                if (latestB.length < 1) {
                    $('#latestBlood').text(0)
                } else {
                    $('#latestBlood').text(latestB[0].reading)
                }
                ;
            })
        }
    )
</script>

<!-- send request to get total patient's calories intake data for today-->
<script>
    $('#cal').ready(
        function () {

            var settings = {

                "url": "/api/SelectMeasurementForToday",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "userId": "<%= userData[0].accountID %>",
                    "type": "Calories Intake"
                }),
            };

            $.ajax(settings).done(function (response) {
                var latestB = JSON.parse(response);

                <!-- once get data from back end successful, show as text in the page-->
                if (latestB.length < 1 || latestB[0].reading === null) {
                    $('#cal').text("0")
                } else {
                    $('#cal').text(latestB[0].reading)
                }
                ;
            })
        }
    )
</script>

<!-- send request to get total patient's calories burnt data for today-->
<script>
    $('#calb').ready(
        function () {

            var settings = {

                "url": "/api/SelectMeasurementForToday",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "userId": "<%= userData[0].accountID %>",
                    "type": "Calories Burnt"
                }),
            };

            $.ajax(settings).done(function (response) {
                var latestB = JSON.parse(response);

                <!-- once get data from back end successful, show as text in the page-->
                if (latestB.length < 1 || latestB[0].reading === null) {
                    $('#calb').text("0")
                } else {
                    $('#calb').text(latestB[0].reading)
                }
                ;
            })
        }
    )
</script>

</body>

</html>