<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="/simple-sidebar.css" rel="stylesheet" type="text/css">
    <link href="/patientPage.css" rel="stylesheet" type="text/css">
    <title id="patientTitle">Patient page</title>
</head>

<body>
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <button class="btn btn-primary" id="menu-toggle">Ehealth</button>


        <button  id="miniMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </div>
            <div class="navbar-nav">
                <a id="logout" class="nav-link" href="/">Sign Out</a>
            </div>
        </div>
    </nav>
    <div>
        <div id="top">
            <h1 id="patientName"> <%= userData[0].name %> </h1>
            <a id="autosync" type="button" href="/authorize" class="btn btn-primary" > Auto-Sync </a>
            <button id="manualEntry" type="button" class="btn btn-primary" data-toggle="modal" data-target="#paramEntry">Manual Data Entry</button>
        </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-sm" id="paramEntry" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document" >

                <div    class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle" >Enter Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group">
                            <a  id="measurementType" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Select a measurement <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="menu">
                                <li class="dropdown-item px-2"><a href="#">Blood Pressure</a></li>
                                <li class="dropdown-item px-2"><a href="#">Heart Rate</a></li>
                            </ul>
                        </div>
                        <div>
                            <label >Value: </label>
                            <input id="paramVal" class="form-control" type="number" maxlength="3">
                        </div>

                        <div>
                            <label >Date: </label>
                            <input type="date" id="birthday" name="birthday" class="form-control"  required="required">
                        </div>
                        <div>
                            <label >Time of measurement: </label>
                            <input id="time" class="form-control"  type="time">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="save" type="button" class="btn btn-primary">Save changes</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush" id="profile">
                <img id="patientImage" src="data:," alt="Alternative Text">
                <a id="pName" class="list-group-item list-group-item-action bg-light">  <%= userData[0].name %></a>
                <a id="patientEmail" class="list-group-item list-group-item-action bg-light">  <%= userData[0].email %></a>
                <a id="patientPhone" class="list-group-item list-group-item-action bg-light">  <%= userData[0].phone %></a>
                <a id="address" class="list-group-item list-group-item-action bg-light">  <%= userData[0].address %></a>
                <button id="updateProfileButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update Profile</button>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist" >
                <li class="nav-item">
                    <a class="nav-link active" id="hr-tab" data-toggle="tab" href="#hr" role="tab" aria-controls="home" aria-selected="true" >Heart Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bp-tab" data-toggle="tab" href="#bp" role="tab" aria-controls="profile" aria-selected="false">Blood Pressure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">----</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">----</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hr" role="tabpanel" aria-labelledby="hr-tab">
                    <table class="table" id="heartRateTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="bp" role="tabpanel" aria-labelledby="bp-tab">
                    <table class="table" id="bloodTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table></div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" >

        <div    class="modal-content">

            <form action="/update/<%= userData[0].userId %>?_method=PUT" method="post">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="exampleModalLongTitle" >Update Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <p>Email:</p>
                        <input id="email" type="email" name="emailAdress" class="form-control" placeholder="example@example.com" required="required" value="<%= userData[0].email %>">
                    </div>

                    <div class="form-group">
                        <p>Phone number:</p>
                        <input type="tel" id="phone" class="form-control" name="phone"  required="required" placeholder="1234567890" maxlength="11" value="<%= userData[0].phone %>">
                    </div>
                    <div class="form-group">
                        <p>Height(cm):</p>
                        <input  type="number" id="height" name="height" class="form-control"  required="required" min="1" max="300">
                    </div>
                    <div class="form-group">
                        <p>Weight(Kg):</p>
                        <input  type="number" id="weight" name="weight" class="form-control"  required="required" min="1" max="600">
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.js"></script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script>
    $(".dropdown-menu li a").click(function(e){
        e.preventDefault()
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
    });

</script>

<script>
    $('#heartRateTable').bootstrapTable({});
    $('#heartRateTable').ready(
        function(){
            var userID = "<%= userData[0].accountID %>";
            var settings = {

                "url": "http://localhost:3000/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId":userID,"measurementType":"Heart Rate"}),

            };

            $.ajax(settings).done(function (response) {

                var data = JSON.parse(response);

                $('#heartRateTable').bootstrapTable("load", data);

                $('.fixed-table-loading').hide();
            });
    })
</script>

<script>
    $('#bloodTable').bootstrapTable({});
    $('#bloodTable').ready(
        function(){
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "http://localhost:3000/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId":userID,"measurementType":"Blood Pressure"}),

            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                var data = JSON.parse(response);
                $('#bloodTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });}
    )
</script>
</body>

</html>