<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/simple-sidebar.css" rel="stylesheet" type="text/css">
    <link href="/patientPage.css" rel="stylesheet" type="text/css">
    <title>Single Patient</title>
</head>

<body>
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <button class="btn btn-primary" id="menu-toggle" name="ehealthButton">Patient Profile</button>
        <button id="miniMenu" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a id="logout" class="nav-link" href="/">Home</a>
            </div>
        </div>
    </nav>
        <div id="top">
            <h1 id="patientName">  </h1>
            <h1 id="patientName"> Data for patient: <%= userData[0].name %> </h1>

        </div>


    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush" id="profile">
                <img id="patientImage" src="/stockPhoto.png" alt="Alternative Text">
                <a id="pName" class="list-group-item list-group-item-action bg-light">  <%= userData[0].name %></a>
                <a id="patientEmail"
                   class="list-group-item list-group-item-action bg-light">  <%= userData[0].email %></a>
                <a id="patientPhone"
                   class="list-group-item list-group-item-action bg-light">  <%= userData[0].phone %></a>
                <a id="address" class="list-group-item list-group-item-action bg-light">  <%= userData[0].address %></a>

            </div>
        </div>


        <div class="container-fluid">






            <div class="row my-2">


                <div class="col-md-2">
                    <div class="card text-center  border-warning h-65">
                        <div class="card-block">
                            <h4 class="card-title">Heart Rate</h4>
                            <h2><i class="fa fa-heartbeat fa-2x" style="color:#ffaf00"></i></h2>
                        </div>
                        <h3 id="latestHeart"></h3>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card text-center  border-info h-65">
                        <div class="card-block">
                            <h4 class="card-title">Blood Pressure</h4>
                            <h2><i class="fa fa-heart fa-2x" style="color:blue"></i></h2>
                        </div>
                        <h3 id="latestBlood"></h3>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card text-center  border-primary h-65">
                        <div class="card-block">
                            <h4 class="card-title">Calories Burnt</h4>
                            <h2><i class="fa fa-child fa-2x" style="color:blue"></i></h2>
                        </div>
                        <h3>100</h3>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="card text-center  border-success h-65">
                        <div class="card-block">
                            <h4 class="card-title">Calories Intake</h4>
                            <h2><i class="fa fa-cutlery fa-2x" style="color:#9cff25"></i></h2>
                        </div>
                        <h3 id="cal"></h3>
                    </div>
                </div>

            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="hr-tab" data-toggle="tab" href="#hr" role="tab" aria-controls="home"
                       aria-selected="true">Heart Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bp-tab" data-toggle="tab" href="#bp" role="tab" aria-controls="profile"
                       aria-selected="false">Blood Pressure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="caloriesBurned-tab" data-toggle="tab" href="#caloriesBurned" role="tab"
                       aria-controls="caloriesBurned" aria-selected="false">Calories Burnt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="calories-tab" data-toggle="tab" href="#calories" role="tab"
                       aria-controls="calories" aria-selected="false">Calories Intake</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hr" role="tabpanel" aria-labelledby="hr-tab">
                    <table class="table" id="heartRateTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="reading" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="bp" role="tabpanel" aria-labelledby="bp-tab">
                    <table class="table" id="bloodTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="reading" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="calories" role="tabpanel" aria-labelledby="calories-tab">
                    <table class="table" id="caloriesTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="reading" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="caloriesBurned" role="tabpanel" aria-labelledby="caloriesBurned-tab">
                    <table class="table" id="caloriesBurnTable">
                        <thead>
                        <tr>
                            <th data-field="DATE(timeStamp)" scope="col">Date</th>
                            <th data-field="reading" scope="col">Value</th>
                            <th data-field="reading" scope="col">Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.js"></script>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script>
    $('#heartRateTable').bootstrapTable({});
    $('#heartRateTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";
            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Heart Rate"}),

            };

            $.ajax(settings).done(function (response) {

                var data = JSON.parse(response);

                $('#heartRateTable').bootstrapTable("load", data);

                $('.fixed-table-loading').hide();
            });
        })
</script>

<script>
    $('#bloodTable').bootstrapTable({});
    $('#bloodTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Blood Pressure"}),

            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);
                $('#bloodTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });
        }
    )
</script>

<script>
    $('#caloriesTable').bootstrapTable({});
    $('#caloriesTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Calories"}),

            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);
                $('#caloriesTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });
        }
    )
</script>
<script>
    $('#caloriesBurnTable').bootstrapTable({});
    $('#caloriesBurnTable').ready(
        function () {
            var userID = "<%= userData[0].accountID %>";

            var settings = {

                "url": "/api/SelectMeasurementsByID",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({"userId": userID, "measurementType": "Calories Burned"}),

            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);
                $('#caloriesBurnTable').bootstrapTable("load", data);
                $('.fixed-table-loading').hide();
            });
        }
    )
</script>

<script>
    $('#latestHeart').ready(
        function () {

            var settings = {

                "url": "/api/SelectLatestMeasurementById",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "accountID": "<%= userData[0].accountID %>",
                    "measurementType": "Heart Rate"}),
            };

            $.ajax(settings).done(function (response) {
                var latestH = JSON.parse(response);
                if(latestH[0].reading === undefined){
                    $('#latestHeart').text(0);
                }else { $('#latestHeart').text(latestH[0].reading)};
            })
        }
    )
</script>

<script>
    $('#latestBlood').ready(
        function () {

            var settings = {

                "url": "/api/SelectLatestMeasurementById",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "accountID": "<%= userData[0].accountID %>",
                    "measurementType": "Blood Pressure"}),
            };

            $.ajax(settings).done(function (response) {
                var latestB = JSON.parse(response);
                if(latestB[0].reading===undefined){
                    $('#latestBlood').text(0)
                }else {$('#latestBlood').text(latestB[0].reading)}
                ;
            })
        }
    )
</script>

<script>
    $('#cal').ready(
        function () {

            var settings = {

                "url": "/api/SelectMeasurementForToday",

                "method": "POST",

                "timeout": 0,

                "headers": {

                    "Content-Type": "application/json"

                },

                "data": JSON.stringify({
                    "userId": "<%= userData[0].accountID %>",
                    "type": "Calories"}),
            };

            $.ajax(settings).done(function (response) {
                var latestB = JSON.parse(response);
                if(latestB[0].reading === undefined || latestB[0].reading === null){
                    $('#cal').text("0")
                }else {$('#cal').text(latestB[0].reading)}
                 ;
            })
        }
    )
</script>

</body>

</html>